<!-- FOOTER -->
<footer id="footer">
<section class="get-it">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr/>
                {% include 'partials/langswitcher.html.twig' %}
                <ul class="lead">                
                    <li><a href="mailto:contact@caribthemes.io">Contact</a></li>
                    <li><a href="https://caribthemes.io" target="_blank">Carib Themes</a></li>
                    <li><a href="https://twitter.com/caribtheme" target="_blank">Twitter</a></li>
                    <li><a href="https://www.facebook.com/idimweb" target="_blank">Facebook</a></li>
	                <li><a href="https://github.com/CaribThemes" target="_blank">GitHub</a></li>
	                <li><a href="https://github.com/CaribThemes/grav-theme-pinel/issues" target="_blank">Issues</a></li>
	                <li><a href="https://getgrav.org/" target="_blank">GetGrav</a></li>
                </ul>
                    <p class="lead">&copy;{{ "now"|date("Y") }} {{ "FOOTER_COPYRIGHT"|t }}</p>
                    <a href="#" class="cd-top">Top</a>
            </div>
        </div>
    </div>
</section>
</footer>